# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Game folders
LIB/PythonLib/
DATA/
textures/
SOUNDS/
shaders/
SavesDir/
Save/
bin/
AnmPak/
ANM/
3DCHARS/
3dobjs/
classic/

# Game files
*.jpg
*.png
*.ogg
*.bmp
*.wav
*.mp3
*.bw
*.lvl
*.mmp
*.mp
*.sf
*.cam
*.list
*.vdf
*.config
*.dol
*.bmc
*.dat
*.org
*.bmv
desert

Blade.sh
